APP__HOST=0.0.0.0
APP__PORT=80
APP__RELOAD=true
APP__TIMEOUT_KEEP_ALIVE=120

DB__HOST=localhost
DB__PORT=27017
DB__USER=root
DB__PASSWORD=example
DB__DATABASE=at-bank
DB__OPTIONS="authSource=admin"

JWT__SECRET="jwt-secret"
JWT__ISSUER="at-bank"
JWT__AUDIENCE="at-bank"
JWT__TTL=3600               # 1 hour
JWT__REFRESH_TTL=34560000   # 400 days

COOKIES__PATH="/"
COOKIES__DOMAIN=
COOKIES__SECURE=false
COOKIES__HTTP_ONLY=true
COOKIES__SAMESITE="lax"

CORS__ALLOW_ORIGINS="http://localhost:5173"
CORS__ALLOW_METHODS="*"
CORS__ALLOW_HEADERS="Authorization,Content-Type,Set-Cookie,Accept-Language,Content-Language,Accept"

# Firebase Service Account
GOOGLE_APPLICATION_CREDENTIALS=
