APP__HOST=0.0.0.0
APP__PORT=80
APP__RELOAD=true
APP__TIMEOUT_KEEP_ALIVE=120

DB__HOST=localhost
DB__PORT=27017
DB__USER=root
DB__PASSWORD=example
DB__DATABASE=at-bank
DB__OPTIONS=authSource=admin

# Firebase Service Account
GOOGLE_APPLICATION_CREDENTIALS=
